on:
  workflow_dispatch:
    inputs:
      NO_PUSH:
        description: "Don't push"
        required: false
      BRANCH_POINT_RUNELITE:
        description: "RuneLite branch point"
        required: false
      SLOW_SRN:
        description: "Recalculate all srn icons"
        required: false
      BRANCH_NAME:
        description: "Branch name"
        required: false
      CACHE_PREV:
        description: "Previous cache version"
        required: false
      CACHE_NEXT:
        description: "Next cache version"
        required: false

jobs:
  execute:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - uses: actions/cache@v2
      with:
        path: |
          osrs_cache
          runelite
          srn
        key: repos2
    - name: "Run"
      env:
        KEYS: ${{ secrets.KEYS }}
        NO_PUSH: ${{ github.event.inputs.NO_PUSH }}
        BRANCH_POINT_RUNELITE: ${{ github.event.inputs.BRANCH_POINT_RUNELITE }}
        SLOW_SRN: ${{ github.event.inputs.SLOW_SRN }}
        BRANCH_NAME: ${{ github.event.inputs.BRANCH_NAME }}
        CACHE_PREV: ${{ github.event.inputs.CACHE_PREV }}
        CACHE_NEXT: ${{ github.event.inputs.CACHE_NEXT }}
      run: |
        set -e -x
        curl -sqL https://api.github.com/repos/abextm/runelite-cache-code-updater/releases/latest \
          | jq -r '.assets[] | select(.name | contains(".jar")) | .browser_download_url' \
          | wget -qi- -O rlccau.jar
        echo "$KEYS" | base64 -d | tar -xz -C ~/
        eval $(ssh-agent)
        export REMOTE_RUNELITE_ORIGIN=git@runelite:abextm/runelite.git
        export REMOTE_SRN_ORIGIN=git@static.runelite.net:abextm/static.runelite.net.git
        export GIT_SSH=ssh
        java -cp rlccau.jar net.runelite.cache.codeupdater.Main
    - name: "GC"
      run: |
        git --git-dir runelite/.git repack -ad
        git --git-dir srn/.git repack -ad
